@import url('https://discordstyles.github.io/FrostedGlass/dist/FrostedGlass.css');
@import url('https://discordstyles.github.io/Addons/windows-titlebar.css');
@import url('https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@300;400;700&display=swap');

:root {
  /* 배경 이미지 및 스타일 */
  --background-image: url('https://d2x8kymwjom7h7.cloudfront.net/live/application_no/96001/default/COMMUNITY/96c3a882b8ad4d37967a935f60ab1495/7d54430ad2384aa987ba23d92ce514a5.jpg');
  --background-image-blur: 0px;
  --background-image-size: cover;
  --background-image-position: top;

  /* 모달 팝업 스타일 */
  --popout-modal-image: url("https://d2x8kymwjom7h7.cloudfront.net/live/application_no/96001/default/COMMUNITY/0010b76d4577445c93cce745b665b35a/2479812a389c4be48de6d853ca9cf191.jpg");
  --popout-modal-blur: 5px;
  --popout-modal-brightness: 0.5;
  --popout-modal-image-size: cover;
  --popout-modal-position: center;

  /* 홈 버튼 이미지 및 스타일 */
  --home-button-image: url('https://d2x8kymwjom7h7.cloudfront.net/live/application_no/96001/default/COMMUNITY/0010b76d4577445c93cce745b665b35a/2479812a389c4be48de6d853ca9cf191.jpg');
  --home-button-size: 150%;
  --home-button-position: center;

  /* 밝기 설정 */
  --serverlist-brightness: 0;
  --left-brightness: 0.1;
  --middle-brightness: 0.3;
  --right-brightness: 0;

  /* 그라디언트 및 링크 색상 설정 */
  --gradient-primary: 20, 40, 60;
  --gradient-secondary: 45, 50, 55;
  --link-colour: #FFD700;
  --scrollbar-colour: rgba(255, 215, 0, 0.2);
  --gradient-direction: 180deg;
  --tint-colour: 20, 40, 60;
  --tint-brightness: 0.1;

  /* 폰트 및 창 설정 */
  --font: 'Nanum Gothic', "Whitney", Arial, sans-serif;
  --window-padding: 50px;
  --window-roundness: 10px;
  --show-gift-gif-buttons: block;
  --update-notice-1: none;
  --font-weight: 100;
  --font-italic: oblique 15deg;

  /* RadialStatus 설정 */
  --rs-small-spacing: 1px;
  --rs-medium-spacing: 2px;
  --rs-large-spacing: 3px;
  --rs-small-width: 3px;
  --rs-medium-width: 4px;
  --rs-large-width: 5px;
  --rs-avatar-shape: 50%;
  --rs-online-color: #f7e57f;
  --rs-idle-color: #ebcb8b93;
  --rs-dnd-color: #BF616A;
  --rs-offline-color: #4C566A;
  --rs-streaming-color: #B48EAD;
}

/* 특정 요소에 대한 기울임 스타일 */
p,
span,
a {
  font-style: var(--font-italic);
}